.pointer{
    cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.scroll{
    overflow: auto;
    height: 90vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scroll::-webkit-scrollbar {
    display: none;
}

.boardGroup,.member{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    min-height: 50px;
}

.popoverForm{
    background-color: #fefefe;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    color: black;
}
.popoverForm .list:hover{
    transition: background-color 0.5s;
    background-color: #e9ecef;
}
.popover-body,.popover-body .container {
    padding-left: 0;
    padding-right: 0;
}
.popoverForm .list{
    min-height: 50px;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.boardCardAdd {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    height: 125px;
    max-height: 125px;
    width: 100%;
    background-color: white;
}
.boardCardAdd:hover{
    transition:background-color 0.5s;
    background-color: #e9ecef;
}
.boardCardAdd:not(:hover){
    transition:background-color 0.5s;
}

.sidebar-line{
    position: absolute;
    left: 10px;
    height: 94vh;
    border-right: 1px solid rgba(0,0,0,.125);
}
.sidebar-button{
    position: absolute;
    left: -9px;
    z-index: 1;
    color: rgb(94, 108, 132);
    background-color: white;
    top: 18px;
}


.btnMy{
    align-items: center;
    background-color: #091e420a;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    color: #172b4d;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    line-height: 20px;
    padding: 6px 12px;
    text-decoration: none;
    transition-duration: 85ms;
    transition-property: background-color,border-color,box-shadow;
    transition-timing-function: ease;
    white-space: normal;
}

.btnMy:hover{
    background-color: #091e4214;
    border: none;
    box-shadow: none;
    color: inherit;
    text-decoration: none;
}